# Backend Environment Variables
PORT=5001

# Gmail Credentials
# For EMAIL_PASS, use a 16-character Google App Password
# Guide: https://myaccount.google.com/security -> 2-Step Verification -> App passwords
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-16-char-app-password
